ACME_EMAIL=postmaster@example.com
CONTAINER_GID=1000
CONTAINER_UID=1000
DSM_EXTERNAL_DOMAIN=dsm.example.com
DSM_OLD_EXTERNAL_DOMAIN=dsm-old.example.com
DSM_OLD_URL=https://127.0.0.1:5002
DSM_URL=https://127.0.0.1:5001
HOMEASSISTANT_EXTERNAL_DOMAIN=homeassistant.example.com
HOMEASSISTANT_URL=http://127.0.0.1:8123
JAEGER_COLLECTOR_ENDPOINT=http://localhost:14268/api/traces?format=jaeger.thrift
JAEGER_LOCAL_AGENT_HOST_PORT=localhost:6831
JAEGER_SAMPLING_SERVER_URL=http://localhost:5778/sampling
OLLAMA_EXTERNAL_DOMAIN=ollama.example.com
OLLAMA_URL=http://127.0.0.1:8000
PILOT_TOKEN=
ROUTER_EXTERNAL_DOMAIN=router.example.com
ROUTER_URL=https://127.0.0.1:8443
TRAEFIK_EXTERNAL_DOMAIN=traefik.example.com
WHOAMI_EXTERNAL_DOMAIN=whoami.example.com